body {
    background-color: #001f3d; 
}
header {
    background-color: #00264d; 
}
footer {
    background-color: #00264d; 
}
.text-white {
    color: #ffffff !important; 
}
.btn-primary {
    background-color: #004d80; 
    border-color: #004d80;
}
.btn-primary:hover {
    background-color: #003b66; 
    border-color: #003b66;
}
.hero-content {
    background-color: #003366; 
}
.carousel-item {
    position: relative;
}
.carousel-item .carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.card {
    background-color: #fefeff; /* Fondo azul marino para las cards */
}
.card-body {
    background-color: #f8f9fa;
}
.social-icons a {
    color: white;
    margin: 0 15px;
    font-size: 24px;
    transition: color 0.3s;
}
.social-icons a:hover {
    color: #004d80;
}
.section-title {
    color: #fff;
}
.company-section {
    background-color: #003366;
    color: #fff;
}

/* Estilo para la clase img-fluid */
.img-fluid {
    max-width: 100%; 
    height: auto; 
}

/* Específico para el logo */
.logo img {
    max-height: 100px; 
    max-width: 200px; 
    object-fit: contain; 
}

.card-img-top {
    width: 100%; /* Ocupa el ancho completo del contenedor */
    height: 200px; /* Ajusta esta altura según tus necesidades */
    object-fit: cover; /* Recorta y centra la imagen para que se ajuste a las dimensiones */
}

